Check to see what the data types are of the columns in ReFED_US_State_Food_Surplus_Detail.csv

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('../data/raw/ReFED_US_State_Food_Surplus_Detail.csv', skiprows = 1, nrows = 1000)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   year                                          1000 non-null   int64
 1   state                                         1000 non-null   object
 2   sector                                        1000 non-null   object
 3   sub_sector                                    1000 non-null   object
 4   sub_sector_category                           1000 non-null   object
 5   food_type                                     1000 non-null   object
 6   food_category                                 1000 non-null   object
 7   tons_surplus                                  1000 non-null   float64
 8   tons_supply                                   1000 non-null   float64
 9   us_dollars_surplus                            1000 non-null   float64
 10  tons_waste                                    1000 non-null   float64
 11  tons_uneaten                                  1000 non-null   float64
 12  tons_donations                                1000 non-null   float64
 13  tons_industrial_uses                          1000 non-null   float64
 14  tons_animal_feed                              1000 non-null   float64
 15  tons_anaerobic_digestion                      1000 non-null   float64
 16  tons_composting                               1000 non-null   float64
 17  tons_not_harvested                            1000 non-null   float64
 18  tons_incineration                             1000 non-null   float64
 19  tons_land_application                         1000 non-null   float64
 20  tons_landfill                                 1000 non-null   float64
 21  tons_sewer                                    1000 non-null   float64
 22  tons_dumping                                  1000 non-null   float64
 23  surplus_upstream_100_year_mtco2e_footprint    1000 non-null   float64
 24  surplus_downstream_100_year_mtco2e_footprint  1000 non-null   float64
 25  surplus_total_100_year_mtco2e_footprint       1000 non-null   float64
 26  surplus_upstream_100_year_mtch4_footprint     1000 non-null   float64
 27  surplus_downstream_100_year_mtch4_footprint   1000 non-null   float64
 28  surplus_total_100_year_mtch4_footprint        1000 non-null   float64
 29  gallons_water_footprint                       1000 non-null   float64
 30  meals_wasted                                  1000 non-null   float64
dtypes: float64(24), int64(1), object(6)
memory usage: 242.3+ KB

In [3]:
df = pd.read_csv('../data/raw/ReFED_US_State_Food_Surplus_Summary.csv', skiprows = 1, nrows = 1000)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 32 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   year                                          1000 non-null   int64
 1   state                                         1000 non-null   object
 2   sector                                        1000 non-null   object
 3   sub_sector                                    1000 non-null   object
 4   sub_sector_category                           1000 non-null   object
 5   food_type                                     1000 non-null   object
 6   tons_surplus                                  1000 non-null   float64
 7   tons_supply                                   1000 non-null   float64
 8   us_dollars_surplus                            1000 non-null   float64
 9   tons_waste                                    1000 non-null   float64
 10  tons_uneaten                                  1000 non-null   float64
 11  tons_inedible_parts                           1000 non-null   float64
 12  tons_not_fit_for_human_consumption            1000 non-null   float64
 13  tons_donations                                1000 non-null   float64
 14  tons_industrial_uses                          1000 non-null   float64
 15  tons_animal_feed                              1000 non-null   float64
 16  tons_anaerobic_digestion                      1000 non-null   float64
 17  tons_composting                               1000 non-null   float64
 18  tons_not_harvested                            1000 non-null   float64
 19  tons_incineration                             1000 non-null   float64
 20  tons_land_application                         1000 non-null   float64
 21  tons_landfill                                 1000 non-null   float64
 22  tons_sewer                                    1000 non-null   float64
 23  tons_dumping                                  1000 non-null   float64
 24  surplus_upstream_100_year_mtco2e_footprint    1000 non-null   float64
 25  surplus_downstream_100_year_mtco2e_footprint  1000 non-null   float64
 26  surplus_total_100_year_mtco2e_footprint       1000 non-null   float64
 27  surplus_upstream_100_year_mtch4_footprint     1000 non-null   float64
 28  surplus_downstream_100_year_mtch4_footprint   1000 non-null   float64
 29  surplus_total_100_year_mtch4_footprint        1000 non-null   float64
 30  gallons_water_footprint                       1000 non-null   float64
 31  meals_wasted                                  1000 non-null   float64
dtypes: float64(26), int64(1), object(5)
memory usage: 250.1+ KB